*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    position:relative;
    font-family: 'Poppins', sans-serif!important;
 

}
.box{
    /* position: absolute;
    transform: translate(50%,-50%);
    min-height: 70vh;
    width: 50%;
    top:200px; */
    background-color:lightblue!important;
    /* display: flex; */
    position: relative;
}

input{
    border-radius: 10px;
    padding: 6px 14px;

}
.inputdata{
    position: relative;
}

.location{
    letter-spacing: 1.2px;
   
}
.text-white{
    color: #fff;
    font-size:40px;
}
.h25{
    height: 25rem!important;
}
.mt5{
    margin-top:4.5rem!important;
}
.cont{
    background-color: brown;
}
.cont h1{
    color: green;
}
.w1 {
    stroke: none;
    fill: #30b1ce;
    opacity: 55%;
    animation: move1 5s ease-in-out infinite;
  }
  .w2 {
    stroke: none;
    fill: #fff;
    opacity: 35%;
    transform: translate3d(0, 0, 0);
    animation: move2 4s ease-in-out infinite;
  }
  .w3 {
    stroke: none;
    fill: #318db2;
    opacity: 30%;
    transform: translate3d(0, 0, 0);
    animation: move3 6s ease-in-out infinite;
  }
  @keyframes move1 {
    0% {
      transform: translateX(-500px) scaleX(2.5);
    }
    25% {
      transform: translateX(-100) scaleX(2.5);
    }
    50% {
      transform: translateX(0) scaleX(2.5);
    }
    75% {
      transform: translateX(-100) scaleX(2.5);
    }
    100% {
      transform: translateX(-500px) scaleX(2.5);
    }
  }
  @keyframes move2 {
    0% {
      transform: translateX(-600px) scaleX(3);
    }
    25% {
      transform: translateX(-100) scaleX(2.5);
    }
    50% {
      transform: translateX(0) scaleX(3);
    }
    75% {
      transform: translateX(-100) scaleX(2.5);
    }
    100% {
      transform: translateX(-600px) scaleX(3);
    }
  }
  @keyframes move3 {
    0% {
      transform: translateX(-800px) scaleX(3);
    }
    25% {
      transform: translateX(-100) scaleX(2.5);
    }
    50% {
      transform: translateX(0) scaleX(3);
    }
    75% {
      transform: translateX(-100) scaleX(2.5);
    }
    100% {
      transform: translateX(-800px) scaleX(3);
    }
  }
    

